.ss {
    text-align: center;
}


h1 {
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    padding: 50px 200px 0px;
}

.apropos-video {
    width: 80%;
    margin: 30px auto 0;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.08);
}

.apropos-video video {
    width: 100%;
    height: 520px;
    display: block;
    border: none;
}

@media (max-width: 900px) {
    .apropos-video video {
        height: 320px;
    }
}
