.article {
    width: calc(33.33% - 20px);
    border: 3px;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    position: relative;
    background-color: #f5f5f5;
    cursor: pointer;
    border-radius: 10px;
}

.article:hover {
    background-color: #e0e0e0;
    color: gray;
}

.left-section {
    width: 50%;
    float: left;

}

.left-section h2,
.left-section p {
    text-decoration: none;
}


.right-section {
    width: 50%;
    float: left;
}

.article img {
    width: 100%;
    display: block;
}

.article h2 {
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 0;
}

.article p {
    margin: 5px 0;
}