 #main {
 	background-color: #E1E1E1;
 }

 #fullcontent {
 	margin: 100px auto 100px auto;
 	border-radius: 4px;
 	width: 500px;
 	height: 500px;
 	background-color: white;
 	box-shadow: 10px 5px 5px darkgray;

 }


 #titre-h1 {
 	text-align: center;
 	font-family: sans-serif;
 	color: #676767;
 	font-size: 26px;
 	margin-top: 30px;
 }

 #top-content {
 	display: flex;
 	justify-content: space-between;
 	align-items: center;
 }

 #top-content-droite {
 	border-bottom: 1px solid lightblue;
 	width: 250px;
 	height: 50px;
 }

 #top-content-gauche {
 	border-right: 2px dashed grey;
 	background-color: #CDCDCD;
 	width: 250px;
 	height: 51px;
 	border-top-left-radius: 4px;
 }

 #head-page {
 	font-family: sans-serif;
 	font-size: 14px;
 	font-weight: 600;
 	color: black;
 	text-decoration: none;
 	text-align: center;
 	margin-top: 15px;

 }

 #head-lien {
 	display: block;
 	font-family: sans-serif;
 	font-size: 14px;
 	font-weight: 600;
 	color: grey;
 	text-decoration: none;
 	text-align: center;
 	margin-top: 15px;
 }

 #content {
 	margin: 50px auto auto auto;

 }

 #text-content {

 	margin: auto;
 	width: 300px;
 	text-align: left;
 }

 .text-input {
 	width: 70%;
 	align-content: space-between;
 }

 #dateden {
 	border: 2px solid #ccc;
 	border-radius: 5px;
 	width: 40%;
 	height: 25px;
 	background-color: #f8f8f8;
 	text-align: center;
 }

 .labtext {
 	text-align: left;
 	margin: auto;
 }

 #bouton-connexion {
 	height: 40px;
 	width: 100px;
 	color: white;
 	font-weight: 700;
 	background-color: black;
 }

