#main{
	/*border: red solid;*/
	height: 600px;
	background-color: #E1E1E1 ;
}

#top-content{
	/*border:solid lightblue;*/
	width: 100%;
	margin-top: 30px;
}

#head-page{
	font-family: sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #232323;
	text-align: center;

}

#fullcontent{
	background-color: white;
	width: 500px;
	height: 100%;
	margin: auto;
	box-shadow: 10px 5px 5px darkgray;
	/*border: solid black ;*/
}
#content{
	margin:auto auto auto auto;
	margin-top: 60px;
	padding: 5px;
	/*border:blue solid;*/
	width:50%;
	height: 70%;
	overflow: hidden;
	text-align: center;
}

.text-input{
	width: 100%;
}
#bouton{
	display: block;
	height:40px;
	width: 80%;
	margin:20px auto auto auto;
	border-radius: 8px;
	color: white;
	background-color: black;
}
#lienuser{
	text-decoration: none;
	font-family: sans-serif;
	font-weight: bold;
	color: #676767;
	font-size: 11px;
}
