.page-admin #main{
	/*border: solid black;*/
	min-height: 70vh;
	display: flex;
	justify-content: center;
}

.page-admin #content{
	/*border: solid red;*/
	width: 70%;
	height: 100%;
}
.page-admin .contentlien{
	text-decoration: none;
	color: black;
	display: block flex;
	height: 70px;
	width:30%;
	margin: 20px auto;
	padding: 2%;
	border: none;
	border-radius: 8px;
	flex-shrink:0 ;
	overflow: hidden;
	background-color: #f5f5f5;

	transition: 0.3s;
}

.page-admin .contentlien:hover{
	background-color: #e5e5e5;
	transform: translateY(-2px);
}


.page-admin .image{
	display: block;
}
.page-admin .text-content{
	margin:auto;
	word-wrap: break-word;
}

.page-admin .contentlien-simple {
	justify-content: center;
	align-items: center;
	font-weight: 600;
	background-color: #f5f5f5;
}

.page-admin .contentlien-simple:hover {
	background-color: #e5e5e5;
}
#deco{
	display: block;
	height:100px;
	width: 30%;
	margin: auto;
	border-radius: 8px;
	color: white;
	background-color: black;
}
