#main{
	/*border: solid black;*/
	height: 1000px;
	display: flex;
	justify-content: center;
}

#content{
	/*border: solid red;*/
	width: 60%;
	height: 100%;

}
.contentlien{
	text-decoration: none;
	color: black;
	display: block flex;
	height: 70px;
	width:30%;
	margin: 20px auto;
	padding: 2%;
	border: 2px solid grey;
	border-radius: 8px;
	flex-shrink:0 ;
	overflow: hidden;

	transition: 0.3s;
}

.contentlien:hover{
	background-color: #EFEFEF;
}


.image{
	display: block;
}
.text-content{
	margin:auto;
	word-wrap: break-word;
}
#deco{
	display: block;
	height:100px;
	width: 30%;
	margin: auto;
	border-radius: 8px;
	color: white;
	background-color: black;
}

p {
    font-weight: thin;
    font-style: oblique;
    font-size: 48px;
    font-weight: 400;
    margin-left: 5px;
    text-align: center;
}

p:hover {
    text-decoration: none;
    font-weight: 900;
}